<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs", {titulo: "Pear, sitio de compra y venda de NFT", cssSheet: "index"}) %>
<body>
    
    <%- include("./partials/header.ejs") %>
    <main> 
    <div class="todosLosForms">
        <div class="cuatroCuadros">
            <!-- primer formulario -->
            <h2 class="tituloForm">Ingresos</h2>
            <form action="/form1" method="POST" class="primerForm" id="form1">
                <label for="monto">Monto trabajo:</label>
                <input type="number" name="monto" placeholder="$ 0.000"><br>
                <br>
                <input name="medio" type="radio" value="efectivo" checked="checked"/>Efectivo<br/>
                <input name="medio" type="radio" value="tarjeta"/>Tarjeta<br />
                <input name="medio" type="radio" value="transferencia"/>Transferencia <br>
                <br>
                <label for="fecha">Fecha</label>
                <input type="date" name="fecha">
                <br>
                <br>
                <input type="submit" value="Registrar" class="botonRegistrar2" form="form1">
            </form>
        </div>
        <div class="cuatroCuadros">
            <!-- primer formulario -->
            <h2 class="tituloForm">Egresos</h2>
            <form action="/form2" method="POST" class="primerForm" id="form2">
                <input name="conceptGast" type="radio" value="personal" checked="checked"/>Personal<br/>
                <input name="conceptGast" type="radio" value="peluqueria"/>Peluquería<br />
                <br>
                <label for="montoEg">Gasto:</label>
                <input type="number" name="montoEg" placeholder="$ 0.000"><br>
                <br>
                <input name="medioEg" type="radio" value="efectivo" checked="checked"/>Efectivo<br/>
                <input name="medioEg" type="radio" value="tarjeta"/>Tarjeta<br />
                <input name="medioEg" type="radio" value="transferencia"/>Transferencia <br>
                <br>
                <label for="fechaEg">Fecha:</label>
                <input type="date" name="fechaEg">
                <br>
                <br>
                <label for="subConcepto">Concepto:</label>
                <select name="subConcepto" id="subConcepto">
                    <option value="Auto & Nafta">Auto & Nafta</option>
                    <option value="bienes de uso">Bienes de Uso</option>
                    <option value="Cuidado Personal">Cuidado Personal</option>
                    <option value="Familia">Familia</option>
                    <option value="Farmacia y medicos">Farmacia & Médicos</option>
                    <option value="Gastos Peluquería">Gastos Peluquería</option>
                    <option value="Ian">Ian</option>
                    <option value="Impuestos">Impuestos</option>
                    <option value="Mercado & Kioscos">Mercado & Kioscos</option>
                    <option value="Vacaciones">Vacaciones</option>
                    <option value="Salidas & Cenas">Salidas & Cenas</option> 
                    <option value="Telefono, Internet & Otros">Telefono, Internet & Otros</option> 
                    <option value="Otros" selected>Otros</option>     
                </select>
                <br>
                <br>
                <label for="detalle">Detalle:</label>
                <input type="text" name="detalle">
                <br>
                <br>
                <input type="submit" value="Registrar" class="botonRegistrar2" form="form2">
            </form>
        </div>
    </div>
    </main>
    <%- include("./partials/footer.ejs") %>
  
</body>

</html>