<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs", {titulo: "Pear, sitio de compra y venda de NFT", cssSheet: "index"}) %>
<body>  
    <%- include("./partials/header.ejs") %>
    <main class="mainReport">
        <div class="cuatroCuadros2">
            <h2>Ingresar fechas</h2>
            <form action="/report/fechas" method="POST">
                <input type="date" name="date1">
                <br>
                <br>
                <input type="date" name="date2">
                <br>
                <br>
                <input type="submit" value="reporte">
            </form>
        </div>
    </main>
    <%- include("./partials/footer.ejs") %>  
</body>
</html> 