<footer>
    <div class="secciones">
        <p class="titulo">Salón exclusivo</p>

    </div>
    <div class="secciones">
        <i class="fab fa-facebook"></i>
        <i class="fab fa-google"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
    </div>
    <img src="/img/ab.png" class="logoFooter">
    <div class="secciones">
        <p class="derechos">© Agostina Boschi 2022 </p>
        <a href="/" class="derechos">Terminos y Condiciones</a>
        <a href="/" class="derechos">Acuerdo de Privacidad</a>
    </div>
</footer>