<footer>
    <div class="arribaFooter">
        
        <div>
        
        
        </div>
        <div class="secciones">
        <form action="/msje" method="post" class="comentario">
            <label for="comentario">Deje su Comentario:</label>
            <br>
            <textarea name="comentario" id="comentario" rows="6" cols="25"></textarea>
        </form>
        </div>
    </div>
    <div class="abajoFooter">
        <p class="derechos">© Agostina Boschi 2022 </p>
        <div class="secciones">
           
            

        </div>
        <img src="/img/ab.png" class="logoFooter">
        <div class="secciones">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-google"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
        </div>
    </div>
</footer>