<header>
    <div class="header">
        
        <div class="cabecera">
            <a href="/"><img src="/img/logo2.png" alt="logo_pear" class="logo"></a>
        </div>
        <a href="/report" class="links">Informacion</a>
    </div>
   
</header>